



body {
   margin: 0;
   font-family: 'Titillium Web' , 'sans-serif';
   
}
input::-ms-clear{display: none;}

/*===============================*Блок Main*=============================*/

.main {
   background-color: #87509c;
   min-height: 596px;
   display: flex;
   width: 100%;
   justify-content: space-between;
   justify-content: center;
}


.container {
   display: flex;
   padding-top: 57px;
   padding-left: 211px;
   padding-right: 197px;
   padding-bottom: 50px;
   flex-direction: column;
   width: 100%;
   

		&__header {
         display: flex;
         justify-content: space-between;
         margin-bottom: 144px;
         width: 90%;
         margin-left: 100px;
         
         
		}

		&__logo {
         img{
            width: 100%;
         }
		}

		&__menu {
         margin-right: 50px;
         li{
            display: inline-block;
            list-style: none;
            margin-left: 10px;
            padding: 10px 15px 10px 15px;
            border-radius: 4.5px;
         }
         li:first-child{
            margin-left: 0;
         }
         li:hover{
            background-color: #643a79;
            border-radius: 4%;
            transition: 0.3s;
         }
		}

		&__menu-link {
         font-size: 16px;
         line-height: 18px;
         font-weight: 400;
         text-transform: uppercase;
         color: #ffffff;
         text-decoration: none;
		}

		&__content {
         display: flex;
         flex-direction: column;
         width: 100%;
         justify-content: center;
         align-items: center;
         margin: 0 auto;
         div {
            font-size: 42.2px;
            line-height: 48px;
            font-weight: 700;
            color: #f7f3ea;
            text-align: center;
            margin: 0 auto;
            margin-bottom: 54px;
            display: flex;
         }
		}

		&__btn {
         width: 293px;
         height: 70px;
         background-color: #eb7d4b;
         text-transform: uppercase;
         font-size: 18px;
         line-height: 26px;
         font-weight: 600;
         letter-spacing: 0.02em;
         color: #ffffff;
         text-decoration: none;
         display: flex;
         border-radius: 4px;
         align-items: center;
         justify-content: center;
         margin: 0 auto;
         box-shadow: 0px 4px 0.6px #c86a40;
         &:hover{
            background-color: #fd9768;
            transition: 0.3s;
            box-shadow: 0px 4px 0.6px #fa7d43;
            
         }
         &:active{
            position: relative;
            top: 1;
            box-shadow: 0px 2px 0.6px #fa7d43;
            background-color: #da5c2e;
         }
		}
}
/*===============================*Блок Services*=============================*/ 

.services {
      background-color: #17c2a4;
      min-height: 500px;
      display: flex;
      width: 100%;

}

.container-top {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         margin-bottom: 80px;
		&__title {
         display: flex;
         flex-direction: column;
         align-items: center;
         font-size: 40px;
         line-height: 29px;
         font-weight: 700;
         letter-spacing: 0.1em;
         color: #ffffff;
         text-transform: uppercase;
         &::after{
            content: '';
            display: block;
            width: 87px;
            height: 4px;
            opacity: 0.14;
            background-color: #000;
            margin: 21px 0 21px 0;
            
         }
		}
		&__subtitle {
            font-size: 18px;
            line-height: 26px;
            font-weight: 400;
            letter-spacing: 0.02em;
            color: #ffffff;
            text-align: center;
            width: 603px;
		}
}

.container-body{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   
}

.container-column {
      display: flex;
      flex-direction: column;
      width: 200px;
      min-height: 310px;
      align-items: center;
      margin-left: 150px;
      margin-right: 20px;
      &:first-child{
         margin-left: 0;
      }
      
            &__image {
               margin-bottom:  60px;
               text-align: center; 
               height: 130px;
               pointer-events: none;
            }
            &__title {
               font-size: 24px;
               line-height: 18px;
               font-weight: 700;
               text-transform: uppercase;
               letter-spacing: 0.02em;
               color: #ffffff;
               text-align: center;
               margin-bottom:  25px;
               height: 40px;
               overflow: hidden;
            }
            &__text {
               font-size: 16px;
               line-height: 24px;
               font-weight: 300;
               letter-spacing: 0.02em;
               color: #ffffff;
               text-align: center; 
               flex: 1 1 auto;
            }
      }

/*===============================*Блок Team*=============================*/

.team {
   background-color: #e7f1f8;
   min-height: 914px;
   display: flex;
   width: 100%;

}

.container-top {
		&__title--b {
         color: #3c4761;
		}

		&__subtitle--b {
         color: #3c4761;
		}
}

.container-column {

		&__image--circle {
         width: 200px;
         height: 200px;
         background-color: #878787;
         border-radius: 50%;
         margin-bottom: 40px;
		}


		&__title--b {
         color: #3c4761;
         margin-bottom: 5px;
         height: 25px;
		}

		&__subtitle {
         font-size: 16px;
         line-height: 18px;
         font-weight: 400;
         letter-spacing: 0.02em;
         color: #30bae7;
         margin-bottom: 25px;
		}

		&__text--b {
         color: #3c4761;
		}

		&__social {
         display: flex;
         justify-content: center;
         align-items: center;
         margin-bottom: 15px;
         min-height: 60px;
		}

		&__link {
         display: flex;
         justify-content: center;
         align-items: center;
         border-radius: 50%;
         background-color: #bdd1df;
         height: 32px;
         width: 32px;
         margin-left: 10px;
         &:hover{
            height: 40px;
            width: 40px;
            transition: 0.3s;
            background-color: #a3bed1;
            margin-right: 10px;
         }
         &:last-child:hover{
            height: 40px;
            width: 40px;
            transition: 0.3s;
            background-color: #a3bed1;
            margin-left: 10px;
         }
		}
}

/*===============================*Блок Skills*=============================*/

.skills {
   min-height: 655px;
   background-color: #ffffff;
   display: flex;
   width: 100%;
}

.container-column {
		&__image--static {
         width: 160px;
         height: 160px;
         background: url(/img/skills/4.png) no-repeat;
         text-align: center;
         align-items: center;
         justify-content: center;
         display: flex;
         color: #3c4761;
         font-size: 48px;
         margin-bottom: 30px;
         }
		}
      .purple {
         background: url(/img/skills/3.png) no-repeat;
      }
      .green {
         background: url(/img/skills/2.png) no-repeat;
      }
      .orange {
         background: url(/img/skills/1.png) no-repeat;
      }

/*===============================*Блок Portfolio*=============================*/
   .portfolio {
   min-height: 1423px;
   background-color: #ffdd99;
   display: flex;
   width: 100%;
   }

   .container-body{
   display: flex;
   flex-wrap: wrap;
   margin-top: 60px;

   &__item{
      width: 600px;
      margin-left: 10px;
      padding-left: 10px;
      p{
         text-align: center;
         text-transform: uppercase;
         font-size: 18px;
         line-height: 19px;
         letter-spacing: 0.02em;
         color: #393939;
      }
   }
   }

   .container__btn--green {
      margin-top: 60px;
      background-color: #17c2a4;
      box-shadow: 0px 4px 0.6px #0f8f78; 
         &:hover{
         background-color: #20debb;
         transition: 0.3s;
         box-shadow: 0px 4px 0.6px #17b799;
         
      }
      &:active{
         position: relative;
         top: 1;
         box-shadow: 0px 2px 0.6px #1aad92;
         background-color: #15a68c;
   }
   }

.container__menu--alt{
margin: 0 auto;
}
.container__menu--alt li{
   width: 84px;
   height: 38px;
   background-color: rgba(0,0,0,0.07);
}

.container__menu--alt li:hover{
   background-color: #ffffff;
   
}
.container__menu-link--alt {
   font-family: 'Titillium Web';
   font-size: 18px;
   line-height: 19px;
   font-weight: 400;
   letter-spacing: 0.02em;
   color: #393939;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 10px;
}

/*====================Блок People===================*/ 

.people {
   min-height: 894px;
   background-color: #d74680;
   display: flex;
   width: 100%;
   }
   .container-body {
         &__block {
            display: flex;
            justify-content: space-between;
            width: 500px;
            
         }
         &__block:nth-child(even){
            margin-left: 118px;
         }
   
         &__image {
            width: 96px;
            height: 96px;
            background-color: #787878;
            border-radius: 50%;
         }
   
         &__column {
            display: flex;
            flex-direction: column;
            width: 340px;
         }
   
         &__text {
            font-family: 'Titillium Web';
            font-size: 21px;
            line-height: 31px;
            font-weight: 400;
            font-style: italic;
            letter-spacing: 0.02em;
            color: #ffffff;
            margin-bottom: 28px;
         }
   
         &__title {
            display: flex;
            font-family: 'Titillium Web';
            font-size: 24px;
            line-height: 26px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 0.02em;
            color: #ffffff;
            margin-bottom: 10px;
         }
   
         &__subtitle {
            display: flex;
            font-family: 'Titillium Web';
            font-size: 18px;
            line-height: 26px;
            font-weight: 400;
            letter-spacing: 0.02em;
            color: #ffdd99;
            margin-bottom: 140px;
         }
   }
   
/*==========================Блок GetIn======================*/

.getin {
   background-color: #3c5499;
   display: flex;
   width: 100%;
   min-height: 819px;
}


.container {

		&__btn--blue {
         background-color: #30bae7;
         box-shadow: 0px 4px 0.6px #2b9ec5; 
            &:hover{
            background-color: #3bceff;
            transition: 0.3s;
            box-shadow: 0px 4px 0.6px #30bae7;
            
         }
         &:active{
            position: relative;
            top: 1;
            box-shadow: 0px 2px 0.6px #1cb1e2;
            background-color: #24b4e4;
      }
		}
}

.container-form {
   width: 860px;
   min-height: 283px;
   margin: 0 auto;

		&__input {
         display: flex;
         justify-content: space-between;
         input {
            width: 414px;
            height: 56px;
            background-color: #273a71;
            color: #fff;
         }
         margin-bottom: 27px;
		}

		&__text {
         textarea{
            width: 860px;
            height: 200px;
            background-color: #273a71;
            color: #fff;
            resize: vertical;
         }
         margin-bottom: 60px;
		}
      ::placeholder{
         color: #fff;
         font-size: 16px;
         padding-left: 20px;
         padding-top: 10px;
      }
}

/*=================Footer===============*/

footer {
   background-color: #344b8e;
   display: flex;
}

.container-item {
   display: flex;
   width: 100%;
   justify-content: space-between;
   

		&__link {
         font-family: 'Titillium Web';
         font-size: 24px;
         line-height: 29px;
         font-weight: 600;
         letter-spacing: 0.02em;
         color: #ffffff;
         text-decoration: none;
         }
         &__link:hover{
            color: #30bae7;
         }
		}
